:root {
  /* color */
  --color-yellow: hsla(44, 100%, 52%, 0.7);
  --color-red: hsla(334, 100%, 50%, 0.7);
  --color-purple: hsla(265, 83%, 57%, 0.7);
  --color-blue: hsla(217, 100%, 61%, 0.7);
  --color-black: hsla(0, 0%, 0%, 0.7);
  --color-white: hsla(0, 0%, 100%, 100%);
  /* decoration-colore */
  --color-decoration-purpl: hsla(265, 83%, 57%, 46%);
  --color-decoration-box: hsla(0, 0%, 14%, 100%);
  /* background-color */
  --background-color-grey: hsla(0, 0%, 77%, 15%);
  --background-color-grey-btn: hsla(0, 0%, 92%, 100%);
  --background-color-grey-input: hsla(0, 0%, 93%, 100%);
  --background-color-purple-bt: hsla(265, 83%, 57%, 100%);
  /* Space */
  --letter-space-text: 0.11rem;
  /* line hight */
  --line-height: 1.15px;
  --font-family: "Poppins", sans-serif;
}

.hero, .about {
  max-width: 1500px;
  margin: 0 auto;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 65.5%;
  font-family: var(--font-family);
}

body {
  letter-spacing: var(--letter-space-text);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

nav {
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .navbar__menu {
    display: none;
  }
}

.menu {
  display: none;
}

@media (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu__item {
  margin-left: 3.3rem;
}

.menu__link {
  font-size: 1.6rem;
  color: var(--color-black);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hero {
  overflow: hidden;
  margin-top: 2.4rem;
}

.hero__front {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  padding: 2rem;
  margin-top: 4rem;
  line-height: 4rem;
}

@media (min-width: 682px) {
  .hero__front {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .hero__front {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
  }
}

.hero__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5rem;
}

@media (min-width: 1500px) {
  .hero__dots {
    margin-bottom: 2rem;
  }
}

.hero__dots__yellow {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 0.6rem;
  background-color: var(--color-yellow);
}

@media (min-width: 682px) {
  .hero__dots__yellow {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    margin-right: 0.6rem;
  }
}

@media (min-width: 1024px) {
  .hero__dots__yellow__info {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: 0.6rem;
  }
}

.hero__dots__red {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 0.6rem;
  background-color: var(--color-red);
}

@media (min-width: 682px) {
  .hero__dots__red {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    margin-right: 0.6rem;
  }
}

@media (min-width: 1024px) {
  .hero__dots__red__info {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: 0.6rem;
  }
}

.hero__dots__purple {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 0.6rem;
  background-color: var(--color-purple);
}

@media (min-width: 682px) {
  .hero__dots__purple {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    margin-right: 0.6rem;
  }
}

@media (min-width: 1024px) {
  .hero__dots__purple__info {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: 0.6rem;
  }
}

.hero__dots__blue {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 0.6rem;
  background-color: var(--color-blue);
}

@media (min-width: 682px) {
  .hero__dots__blue {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    margin-right: 0.6rem;
  }
}

@media (min-width: 1024px) {
  .hero__dots__blue__info {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: 0.6rem;
  }
}

.hero__title {
  font-size: 2.5rem;
}

@media (min-width: 682px) {
  .hero__title {
    font-size: 3rem;
  }
}

@media (min-width: 1500px) {
  .hero__title {
    font-size: 5rem;
  }
}

.hero__subtitle {
  font-size: 4rem;
  line-height: 4.5rem;
  color: var(--color-black);
}

@media (min-width: 682px) {
  .hero__subtitle {
    font-size: 5.4rem;
    line-height: 6rem;
  }
}

@media (min-width: 1500px) {
  .hero__subtitle {
    margin-top: 1.5rem;
    font-size: 8rem;
    line-height: 8rem;
  }
}

.hero__subtitle__dev {
  display: block;
  color: var(--color-purpul);
}

.hero__men__mobile {
  text-align: center;
  margin-top: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 1024px) {
  .hero__men__mobile {
    display: none;
  }
}

.hero__men__desktop {
  display: none;
}

@media (min-width: 1024px) {
  .hero__men__desktop {
    display: block;
    width: 50%;
  }
}

.hero__subtitle__line {
  display: none;
}

@media (min-width: 1024px) {
  .hero__subtitle__line {
    display: inline;
  }
}

@media (min-width: 1024px) {
  .hero__info {
    margin-top: 8rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.about {
  margin-top: 5rem;
  padding: 2rem;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .about {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
    -webkit-column-gap: 4.5rem;
            column-gap: 4.5rem;
    margin-top: 8rem;
  }
}

.about__line {
  width: 6rem;
  height: 0.6rem;
  background-color: var(--color-decoration-purpl);
  border-radius: 1rem;
  margin-bottom: 0.6rem;
}

@media (min-width: 682px) {
  .about__line {
    width: 6rem;
    height: 0.6rem;
  }
}

@media (min-width: 1500px) {
  .about__line {
    width: 9rem;
    height: 0.8rem;
    margin-bottom: 0;
  }
}

.about__title {
  font-size: 2.5rem;
  color: var(--color-black);
}

@media (min-width: 682px) {
  .about__title {
    font-size: 3rem;
  }
}

@media (min-width: 1500px) {
  .about__title {
    font-size: 3.4rem;
  }
}

.about__decoration {
  display: none;
}

@media (min-width: 1024px) {
  .about__decoration {
    display: block;
    position: relative;
  }
}

.about__text {
  font-size: 1.6rem;
}

.about__info {
  color: var(--color-black);
  position: relative;
}

.about__info__decoration {
  position: absolute;
  left: 16rem;
  top: -2rem;
}

@media (min-width: 1024px) {
  .about__info__decoration {
    position: absolute;
    left: 17rem;
    top: -2rem;
  }
}

.about__text, .about__picture, .about__list {
  margin-top: 3rem;
}

@media (min-width: 1024px) {
  .about__picture {
    margin-top: 0;
    -ms-grid-row: 2;
    grid-area: 2/-2;
  }
}

.about__picture > img {
  width: 100%;
  height: 100%;
}

@media (min-width: 682px) {
  .about__picture > img {
    width: auto;
  }
}

.about__hobby {
  position: relative;
}

@media (min-width: 1024px) {
  .about__hobby {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.about__hobby__decoration {
  position: absolute;
  left: 20rem;
  bottom: -2rem;
}

@media (min-width: 1024px) {
  .about__hobby__decoration {
    position: absolute;
    left: 32rem;
    bottom: 26rem;
  }
}

.about__hobby__decoration > svg {
  width: 4rem;
}

@media (min-width: 682px) {
  .about__hobby__decoration > svg {
    width: 5.5rem;
  }
}

.about__line__hobby {
  margin-top: 5rem;
  width: 4rem;
  height: 0.6rem;
  background-color: var(--color-decoration-purpl);
  border-radius: 1rem;
  margin-bottom: 0.6rem;
}

.about__intrest {
  color: var(--color-black);
  font-size: 1.8rem;
}

@media (min-width: 682px) {
  .about__intrest {
    font-size: 2.1rem;
  }
}

.about__list > li {
  margin-top: 1rem;
  font-size: 1.3rem;
}

.about__list > li :nth-child(1) {
  margin-top: 0;
}

.about__blue__circle {
  position: absolute;
  left: 20rem;
  top: 8rem;
}

.about__orange__circle {
  position: absolute;
  left: 50rem;
  bottom: 0rem;
}
/*# sourceMappingURL=main.css.map */