html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

body {
  font-family: "Fahkwang", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
}

section {
  margin-top: 6rem;
}

.container {
  max-width: 77.5em;
  padding-inline: calc((0.5rem * 2) + 0.25rem);
  margin-inline: auto;
}

h1 {
  color: #2d2525;
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

p {
  color: rgba(45, 37, 37, 0.75);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.hero__info > h3 {
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  background: -webkit-linear-gradient(90deg, #ee6882 0%, #f7825f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__info > h1 {
  margin-bottom: calc(0.5rem * 4);
  font-size: 2.3125rem;
}

.hero__info__text {
  margin-bottom: calc(0.5rem * 8);
  font: inherit;
}

.hero__info__btn {
  position: relative;
  padding-block: calc(0.5rem * 2);
  padding-inline: calc(0.5rem * 9);
  background: -webkit-gradient(linear, left top, right top, from(#ee6882), to(#f7825f));
  background: linear-gradient(90deg, #ee6882 0%, #f7825f 100%);
  color: white;
  border-radius: 6.25em;
  -webkit-box-shadow: 3.27491px 88.9397px 69px rgba(0, 0, 0, 0.022144), 1.92827px 52.3677px 35.9904px rgba(0, 0, 0, 0.035072), 0.99033px 26.8954px 16.8912px rgba(0, 0, 0, 0.044928), 0.39823px 10.8151px 7.3968px rgba(0, 0, 0, 0.057856), 0.08908px 2.41916px 3.2016px rgba(0, 0, 0, 0.08);
          box-shadow: 3.27491px 88.9397px 69px rgba(0, 0, 0, 0.022144), 1.92827px 52.3677px 35.9904px rgba(0, 0, 0, 0.035072), 0.99033px 26.8954px 16.8912px rgba(0, 0, 0, 0.044928), 0.39823px 10.8151px 7.3968px rgba(0, 0, 0, 0.057856), 0.08908px 2.41916px 3.2016px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.hero__info__btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(45, 37, 37, 0.75);
  border-radius: 6.25em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.hero__info__btn:hover::before {
  top: -8%;
  right: -2%;
}

.hero__info__btn:active::before {
  background-color: #2d2525;
}

.hero__img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.about {
  padding-top: calc(0.5rem * 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__picture {
  margin-inline: auto;
  display: block;
}

.about__text {
  margin-top: calc(0.5rem * 6);
  text-align: center;
  font: inherit;
}

.about__link {
  color: #2d2525;
  font-weight: 700;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: calc((0.5rem * 8) + 0.5rem);
}

.project__one, .project__two, .project__three {
  min-width: 17rem;
  min-height: 19.8125rem;
  background: rgba(45, 37, 37, 0.25);
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
}

.project__one::after, .project__two::after, .project__three::after {
  position: absolute;
  content: "";
  min-width: 17rem;
  min-height: 19.8125rem;
  border: 0.1875rem solid #ee6882;
  border-radius: 0.5rem;
  top: -0.5rem;
  right: -0.5rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.project__one:hover::after, .project__two:hover::after, .project__three:hover::after {
  top: 0%;
  right: 0%;
}
/*# sourceMappingURL=main.css.map */