.about {
	display: flex;
	flex-direction: column;

	@include mq(large) {
		gap: 4rem;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	@include mq(exlarge) {
		gap: 0;
	}

	&__picture {
		margin-inline: auto;
		display: block;
		flex: 1;
		max-width: max-content;

		@include mq(large) {
			// padding: 0 4rem 4rem;
		}
		@include mq(exlarge) {
			padding: 4rem;
		}
	}

	&__text {
		flex: 1;
		margin-top: calc(#{$margin-basic} * 6);
		text-align: center;

		@include mq(medium) {
			font-size: $type-basic-secondary;
		}

		@include mq(large) {
			order: -1;
			text-align: left;
			font-size: $type-basic-secondary;
			max-width: 38.75rem;
			line-height: 143%;
		}

		@include mq(exlarge) {
			font-size: $heading-h6;
		}
	}

	&__link {
		color: $black;
		font-weight: $fw-700;
	}
}
