.contact {
	padding-block: calc(#{$padding-basic} * 4);
	color: $white;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	&__main {
		> * {
			font-size: $heading-h4;
			text-transform: uppercase;
			display: block;
		}
	}

	&__email {
		font-size: $paragraph;
		color: $primary;
	}
}
