.footer {
	display: flex;
	flex-direction: column;
	padding-block: calc(#{$padding-basic} * 4);

	@media screen and (min-width: 41rem) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	@include mq(large) {
		padding-block: calc(#{$padding-basic} * 6);
	}

	> * {
		color: $white;
	}

	:not(:first-child) {
		font-size: 0.75rem;
		text-transform: capitalize;
	}

	> a {
		font-size: 1rem;
		text-transform: uppercase;
		font-weight: $fw-700;
		margin-bottom: $margin-basic;
		display: inline-block;
		transition: all 0.3s ease;

		&:hover {
			color: $primary;
		}
	}
}
