.hero {
	display: flex;
	flex-direction: column;
	text-align: center;

	@include mq(large) {
		flex-direction: row;
		min-height: 90vh;
		justify-content: center;
		align-items: center;
		text-align: left;
	}
	@include mq(exlarge) {
		min-height: 95vh;
	}

	&__info {
		flex: 1;
		@include mq(large) {
			max-width: 30.8125rem;
		}
		> h3 {
			margin-bottom: $margin-basic;
			font-size: $heading-h5;
			background: -webkit-linear-gradient(90deg, $primary 0%, $secondary 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

			@include mq(medium) {
				font-size: $heading-h4-tablet;
			}
			@include mq(exlarge) {
				font-size: $heading-h4;
			}
		}
		> h1 {
			margin-bottom: calc(#{$margin-basic} * 4);
			font-size: $heading-h4;

			> span {
				display: block;
			}

			@include mq(medium) {
				font-size: $heading-h3-tablet;
			}
			@include mq(exlarge) {
				font-size: $heading-h3;
			}
		}

		&__text {
			margin-bottom: calc(#{$margin-basic} * 8);

			@include mq(medium) {
				font-size: $type-basic-secondary;
			}

			@include mq(exlarge) {
				font-size: $heading-h6;
			}
		}
		&__btn {
			position: relative;
			padding-block: calc(#{$padding-basic} * 2);
			padding-inline: calc(#{$padding-basic} * 9);
			background: linear-gradient(90deg, $primary 0%, $secondary 100%);
			color: $white;
			border-radius: $border-radius-full;
			box-shadow: $box-shadow-button;
			transition: all 0.4s ease;
			display: inline-block;

			&::before {
				display: inline-block;
				position: absolute;
				content: "";
				width: 100%;
				height: 100%;
				top: 0;
				right: 0;
				z-index: -1;
				background-color: $black-75;
				border-radius: $border-radius-full;
				transition: all 0.2s ease;
			}

			&:hover::before {
				top: -8%;
				right: -2%;
			}

			&:active::before {
				background-color: $black;
			}
		}
	}

	&__img {
		flex: 1;
		order: -1;
		max-width: max-content;
		margin-inline: auto;

		@include mq(large) {
			order: 1;
			margin-top: -6rem;
		}
	}
}
