html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

* {
	padding: 0;
	margin: 0;
	font: inherit;
}

body {
	font-family: $ff-Fahkwang;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	width: 100%;
	height: 100%;
}

section {
	margin-top: 6rem;

	@include mq(exlarge) {
		margin-top: calc(6rem + 2.25rem);
	}
}

ul {
	list-style: none;
}

.container {
	max-width: 80em;
	padding-inline: calc((#{$padding-basic} * 2) + 0.25rem);
	margin-inline: auto;

	@include mq(medium) {
		padding-inline: calc(#{$padding-basic} * 6.25);
	}

	@include mq(exlarge) {
		padding-inline: calc((#{$padding-basic} * 2) + 0.25rem);
	}
}

.background {
	background-color: $black;
}

.no-margin {
	@include mq(large) {
		margin: 0;
	}
}
