.skill {
	&__text {
		> h2 {
			display: flex;
			justify-content: center;
			text-transform: uppercase;
			position: relative;
			font-weight: $fw-700;
			overflow: hidden;
			font-size: $heading-h4;
			height: calc(#{$heading-h4} + 1rem);
			margin: 0;
			color: $black-50;

			@include mq(medium) {
				font-size: $heading-h3;
				height: calc(#{$heading-h3} + 1rem);
			}

			@include mq(exlarge) {
				font-size: $heading-h2;
				height: calc(#{$heading-h2} + 1rem);
			}
		}

		&__hide {
			position: absolute;
			z-index: 100;
		}
	}
}
