// Colors
$primary: hsl(348, 80%, 67%);
$secondary: hsl(14, 90%, 67%);
$black: hsl(0, 10%, 16%);
$black-75: hsla(0, 10%, 16%, 0.75);
$black-50: hsla(0, 10%, 16%, 0.5);
$black-25: hsla(0, 10%, 16%, 0.25);
$black-10: hsla(0, 10%, 16%, 0.1);
$white: hsl(0, 0%, 100%);

// font
$ff-Fahkwang: "Fahkwang", sans-serif;

// Size
$heading-h1: 5.5rem; //88px
$heading-h2: 4.125rem; //66px
$heading-h3: 3.125rem; //50px
$heading-h4: 2.3125rem; //37px
$heading-h5: 1.75rem; //28px
$paragraph: 1.3125rem; //27px

// Line height
$heading-114-line-height: 1.14;
$heading-130-line-height: 1.3;
$paragraph-143-line-height: 1.43;

// font weight
$fw-700: 700;
$fw-600: 600;
$fw-400: 400;
$fw-300: 300;

// shadow
$box-shadow-button: 3.27491px 88.9397px 69px rgba(0, 0, 0, 0.022144),
	1.92827px 52.3677px 35.9904px rgba(0, 0, 0, 0.035072),
	0.990333px 26.8954px 16.8912px rgba(0, 0, 0, 0.044928),
	0.398229px 10.8151px 7.3968px rgba(0, 0, 0, 0.057856),
	0.0890776px 2.41916px 3.2016px rgba(0, 0, 0, 0.08);

// margin, padding 8px
$margin-basic: 0.5rem;
$padding-basic: 0.5rem;

// border-radius
$border-radius-full: 6.25em;
