.projects {
	@extend %container;
	margin-top: 5rem;
	padding: 2rem;

	@include mq(xl) {
		margin: 10rem auto;
	}

	&__line {
		@include line;
	}

	&__title {
		@include title;
	}

	&__container {
		display: flex;
		flex-direction: column;
		margin-top: 3rem;

		@include mq(large) {
			margin-top: 6rem;
		}
	}

	&__box {
		display: flex;
		flex-direction: column;

		@include mq(small) {
			flex-direction: row;
		}

		&__info {
			margin-top: 2rem;
			order: 2;
			background-color: var(--background-color-grey);
			padding: 1rem;
			border-bottom-left-radius: 1rem;
			border-bottom-right-radius: 1rem;

			@include mq(small) {
				border-bottom-right-radius: 0;
				border-top-left-radius: 1rem;
				margin-top: 0;
				flex: 1;
			}

			@include mq(medium) {
				padding: 2rem;
			}

			@include mq(large) {
				padding: 3rem;
			}
		}

		&__title {
			font-size: 1.9rem;
			color: var(--color-black);
		}

		&__text {
			color: var(--color-black);
			font-size: 1.4rem;
			letter-spacing: var(--letter-space-text);
			margin-top: 1rem;

			@include mq(medium) {
				max-width: 90%;
			}
		}

		&__items {
			margin-top: 1.4rem;
			font-size: 1.2rem;
			display: flex;
			gap: 1rem;

			> li {
				padding: 0.5rem 1rem;
				background-color: var(--background-color-grey-btn);
			}
		}

		&__img {
			order: 1;

			@include mq(small) {
				order: 2;
				flex: 1;
			}
		}
	}

	&__line__yellow {
		@include mq(large) {
			@include lineDecoration(var(--color-yellow));
		}
	}
	&__line__purple {
		@include mq(large) {
			@include lineDecoration(var(--color-purple));
		}
	}
	&__line__red {
		@include mq(large) {
			@include lineDecoration(var(--color-red));
		}
	}
}
