#about-me {
	@include mq(large) {
		margin-top: 15rem;
	}
	@include mq(xllarge) {
		margin-top: 18rem;
	}
	@include mq(xl) {
		margin-top: 23rem;
	}
}

.about {
	@extend %container;
	padding: 0 2rem 2rem 2rem;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-between;

	&__info {
		color: var(--color-black);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;

		@include mq(large) {
			flex-direction: row;
			gap: 3rem;
		}

		@include mq(xllarge) {
			justify-content: space-between;
		}
	}

	&__text {
		order: -1;
		font-size: 1.6rem;
		max-width: 500px;
		padding: 40px;
		background-color: var(--color-decoration-bg-text);
		align-self: center;

		@include mq(large) {
			order: 1;
		}
	}

	&__picture {
		margin-top: 6rem;

		@include mq(large) {
			margin-top: 0;
		}
	}
}

.title {
	@include title;
}
