.about {
	@extend %container;
	margin-top: 5rem;
	padding: 2rem;
	overflow: hidden;

	@include mq(large) {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		column-gap: 4.5rem;
		margin-top: 8rem;
	}

	&__line {
		@include line;
	}

	&__title {
		@include title;
	}

	&__decoration {
		display: none;

		@include mq(large) {
			display: block;
			position: relative;
		}
	}

	&__text {
		font-size: 1.6rem;
	}

	&__info {
		color: var(--color-black);
		position: relative;

		&__decoration {
			@include decorationTop(absolute, 16rem, -2rem);

			@include mq(large) {
				@include decorationTop(absolute, 17rem, -2rem);
			}
		}
	}

	&__text,
	&__picture,
	&__list {
		margin-top: 3rem;
	}

	&__picture {
		@include mq(large) {
			margin-top: 0;
			grid-area: 2/-2;
		}

		> img {
			width: 100%;
			height: 100%;

			@include mq(small) {
				width: auto;
			}
		}
	}

	&__hobby {
		position: relative;

		@include mq(large) {
			grid-column: 1/2;
		}

		&__decoration {
			@include decorationBottom(absolute, 20rem, -2rem);

			@include mq(large) {
				@include decorationBottom(absolute, 32rem, 26rem);
			}

			// @include mq(small) {
			//   @include decorationBottom(absolute, 20rem, -2rem);
			// 	right: 30rem;
			// 	bottom: -2rem;
			// }

			> svg {
				width: 4rem;

				@include mq(small) {
					width: 5.5rem;
				}
			}
		}
	}

	&__line__hobby {
		margin-top: 5rem;
		width: 4rem;
		height: 0.6rem;
		background-color: var(--color-decoration-purpl);
		border-radius: 1rem;
		margin-bottom: 0.6rem;
	}

	&__intrest {
		color: var(--color-black);
		font-size: 1.8rem;

		@include mq(small) {
			font-size: 2.1rem;
		}
	}

	&__list > li {
		margin-top: 1rem;
		font-size: 1.3rem;

		:nth-child(1) {
			margin-top: 0;
		}
	}

	&__blue__circle {
		@include decorationTop(absolute, 20rem, 8rem);
	}

	&__orange__circle {
		@include decorationBottom(absolute, 50rem, 0rem);
	}
}
