nav {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.navbar {
	max-width: 1200px;
	margin: 0 auto;
	padding: 3rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__menu {
		@include mq(medium) {
			display: none;
		}
	}
}

.menu {
	display: none;

	@include mq(medium) {
		display: flex;
	}

	&__item {
		margin-left: 3.3rem;
	}

	&__link {
		font-size: 1.6rem;
		color: var(--color-black);
		transition: all 0.2s ease-in-out;
	}
}
