.skill {
	@extend %container;
	margin-top: 5rem;
	padding: 0 2rem;

	@include mq(medium) {
		display: flex;
		justify-content: space-between;
	}

	&__container {
		position: relative;
		overflow: hidden;
		margin-top: 8rem;
	}

	&__decoration__line {
		@include decorationTop(0, 50%);
		display: none;

		@include mq(medium) {
			display: block;
		}
	}

	&__decoration__star {
		@include decorationTop(30%, 30%);
		display: none;

		@include mq(medium) {
			display: block;
		}
	}

	&__decoration__circle-b {
		@include decorationBottom(10%, 8rem);
		display: none;

		@include mq(medium) {
			display: block;
		}
	}

	&__decoration__circle-s {
		@include decorationTop(20%, 4rem);
		display: none;
		z-index: -1;

		@include mq(large) {
			display: block;
		}
	}

	&__info {
		display: none;

		@include mq(medium) {
			display: flex;
			flex-direction: column;
			flex: 1;
		}

		&__line {
			width: 6rem;
			height: 0.6rem;
			background-color: var(--color-yellow);
			border-radius: 1rem;
		}

		&__title {
			font-size: 1.9rem;
			font-weight: 600;
			color: var(--color-black);

			@include mq(xl) {
				font-size: 2.5rem;
			}
		}

		&__tech {
			margin-top: 2rem;
			font-size: 1.6rem;

			@include mq(xl) {
				font-size: 2rem;
			}

			h4 {
				font-weight: 400;
				margin-top: 0.5rem;

				:first-child {
					margin-top: 0;
				}
			}
		}
	}

	&__boxes {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 203px);
		row-gap: 3rem;

		@include mq(medium) {
			padding: 0 0 0 4rem;
			flex: 1;
		}

		@include mq(xl) {
			column-gap: 4rem;
			grid-template-columns: repeat(2, 1fr);
			padding: 0;
		}

		&__title {
			color: var(--color-white);
			margin-top: 1rem;
			font-size: 1.6rem;
		}

		&__container {
			background-color: var(--color-decoration-box);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			z-index: 10;
		}
	}
}

.web {
	@include mq(xl) {
		grid-column: 1/2;
		grid-row: 1/3;
	}
}
.front {
	@include mq(xl) {
		grid-column: 2/-1;
		grid-row: 1/3;
	}
}
.services {
	@include mq(xl) {
		grid-column: 1/2;
		grid-row: 3/5;
	}
}
.backend {
	@include mq(xl) {
		grid-column: 2/-1;
		grid-row: 3/5;
	}
}
