#skill {
	margin-top: 4rem;
	background-color: var(--background-color-grey);
}

.skill {
	@extend %container;
	padding: 0 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;

	@include mq(large) {
		margin-top: 0;
	}

	&__boxes {
		display: flex;
		align-items: center;
		gap: 3rem;
		flex-direction: column;

		@include mq(xllarge) {
			flex-direction: row;
		}

		&__title {
			color: var(--color-white);
			margin-top: 1rem;
			font-size: 1.6rem;

			&-yellow {
				color: var(--color-yellow);
			}

			&-purple {
				color: var(--color-purple);
			}

			&-blue {
				color: var(--color-blue);
			}

			&-red {
				color: var(--color-red);
			}
		}

		&__container {
			background-color: var(--color-decoration-box);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			z-index: 100;
			min-width: 300px;
			min-height: 300px;

			@include mq(small) {
				min-width: 350px;
				min-height: 350px;
			}
		}

		&__double {
			&--space {
				margin-top: 3rem;
			}
		}
	}
}
