$breakpoints: (
	xs: (
		min-width: 290px,
	),
	small: (
		min-width: 682px,
	),
	medium: (
		min-width: 768px,
	),
	large: (
		min-width: 1024px,
	),
	xllarge: (
		min-width: 1272px,
	),
	xl: (
		min-width: 1500px,
	),
);
