*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 65.5%;
	font-family: var(--font-family);
	overflow-x: hidden;
}

body {
	letter-spacing: var(--letter-space-text);
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}
