// media
@mixin mq($breakpoint) {
	$size: map-get($breakpoints, $breakpoint);
	@if ($size) {
		@media #{$size} {
			@content;
		}
	} @else {
		@error "błąd";
	}
}

@mixin dots {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	margin-right: 0.6rem;
	@content;

	@include mq(small) {
		width: 1.8rem;
		height: 1.8rem;
	}

	@include mq(large) {
		width: 2rem;
		height: 2rem;
	}
}

@mixin title {
	font-size: 6rem;
	color: var(--color-title-decoration);
	text-align: center;

	@include mq(small) {
		font-size: 10rem;
	}

	@include mq(xl) {
		font-size: 24rem;
	}
}

@mixin borderColor($color) {
	border-right: 1px solid $color;
	border-bottom: 1px solid $color;
	border-left: 1px solid $color;
}
